apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: kubedevenvironments.kubedev.my-project.com
spec:
  group: kubedev.my-project.com
  names:
    kind: KubeDevEnvironment
    plural: kubedevenvironments
    singular: kubedevenvironment
    shortNames:
      - kde
  scope: Namespaced
  versions:
    - name: v1alpha1
      served: true
      storage: true
      subresources:
        status: {}
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                userName:
                  type: string
                templateId:
                  type: string
                git:
                  type: object
                  properties:
                    repoUrl:
                      type: string
                    ref:
                      type: string
                image:
                  type: string
                commands:
                  type: object
                  properties:
                    init:
                      type: string
                    start:
                      type: string
                ports:
                  type: array
                  items:
                    type: integer
                resources:
                  type: object
                  properties:
                    cpu:
                      type: string
                    memory:
                      type: string
                storage:
                  type: object
                  properties:
                    size:
                      type: string
                    mountPath:
                      type: string
                      default: "/workspace"
                mode:
                  type: string
                  enum:
                    - personal
                    - team
                autosleep:
                  type: object
                  properties:
                    idleTimeout:
                      type: string
              required:
                - userName
            status:
              type: object
              properties:
                phase:
                  type: string
                  enum:
                    - Pending
                    - Provisioning
                    - Running
                    - Hibernating
                    - Failed
                message:
                  type: string
                ideUrl:
                  type: string
                namespace:
                  type: string
                workspaceId:
                  type: string

